* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
html, body {
    height: 100vh;
    background-color: #9E9999;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.options {
    min-height: 100vh;
    background-color: #635A5A;
    width: 20%;
    flex-shrink: 0; 
}
.options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.options ul li {
    text-align: center;
    padding-top: 40%;
    margin-bottom: 20%; 
    font-size: 4rem;
    color: #efecec;
    position: relative;
    cursor: pointer;
}
.options ul li::after {
    content: '';
    position: absolute;
    bottom: 0.1rem;
    left: 20%;
    width: 0%;
    min-height: 0.1rem;
    background: #ee145b;
    transition: all 300ms ease-in;
}
.options ul li:hover::after {
    width: 50%;
}
/* Logo no topo à direita */
.container-logo {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}
.container-logo img {
    width: 90px;
    height: auto;
}